<div class="ft_top">
    <div class="wrap">
        <div class="ft_top_list">
            <a href="/%5B완료%5Dprivacy_policy.html" class="ft_top_item">
                개인정보처리방침
            </a>
            <a href="/%5B완료%5Dservice_term.html" class="ft_top_item">
                이용약관
            </a>
            <a href="/%5B완료%5Dmypage_inquiry.html" class="ft_top_item">
                고객센터
            </a>
            <a href="/client_dashboard.html" class="ft_top_item">
                광고주 센터
            </a>
            <a href="/%5B완료%5Dproduct_campaign.html" class="ft_top_item">
                상품소개
            </a>
        </div>
        <p class="copy_txt">
            © 2024. 기프트인포 INC. all rights reserved.
        </p>
    </div>
</div>
<div class="ft_bottom wrap">
    <div class="ft_bottom_left">
        <img class="logo" src="images/common/logo.svg" alt="CHERIVU 로고">
        <p>
            서울특별시 은평구 진흥로 182 풍안빌딩 4층<br>
            사업자 등록번호 000-00-00000 | 대표자 000
        </p>
    </div>
    <div class="ft_bottom_right">
        <p>고객센터</p>
        <strong>1577-0000</strong>
        <p>평일 09:00 ~ 18:00</p>
    </div>
</div>