<div class="container">
    <div class="gnb-wrap col-group">
        <a href="index.html" class="gnb-item">
            <img src="images/icon_home.png" alt="" class="icon">
            <p class="txt">
                홈
            </p>
        </a>
        <a href="chatting.html" class="gnb-item">
            <img src="images/icon_chat.png" alt="" class="icon">
            <p class="txt">
                채팅
            </p>
        </a>
        <a href="create.html" class="gnb-item">
            <img src="images/icon_submit.png" alt="" class="icon">
            <p class="txt">
                등록
            </p>
        </a>
        <a href="like_list.html" class="gnb-item">
            <img src="images/icon_like.png" alt="" class="icon">
            <p class="txt">
                관심
            </p>
        </a>
        <a href="mypage.html" class="gnb-item">
            <img src="images/icon_mypage.png" alt="" class="icon">
            <p class="txt">
                마이
            </p>
        </a>
    </div>

    <a href="" class="write-btn">
        <i></i>
        글쓰기
    </a>
</div>
