
<div class="container">
    <div class="search-top col-group">
        <button class="sub-header-btn prev-btn">
            <img src="images/icon_prev.png" alt="">
        </button>
        <div class="search-input-wrap">
            <input type="text" class="search-input" placeholder="검색어를 입력하세요.">
        </div>
        <div class="search-input-wrap">
            <div class="search-category">
                중고기계
                <i class="del-btn"></i>
            </div>
            <input type="text" class="search-input" placeholder="에서 검색해보세요.">
        </div>
    </div>
</div>

<div class="search-section">
    <div class="search-section-title-wrap col-group">
        <h3 class="search-section-title">
            인기 검색
        </h3>
    </div>

    <div class="popular-search-wrap">
        <div class="popular-search-list col-group">
            <div class="popular-search-item">
                CNC 선반
            </div>
            <div class="popular-search-item">
                밀링
            </div>
            <div class="popular-search-item">
                판금
            </div>
            <div class="popular-search-item">
                절삭
            </div>
            <div class="popular-search-item">
                유압프레스
            </div>
        </div>
    </div>
</div>

<div class="search-section">
    <div class="search-section-title-wrap col-group">
        <h3 class="search-section-title">
            최근 검색
        </h3>
        <button class="del-btn">전체 삭제</button>
    </div>

    <div class="recent-search-list row-group">
        <div class="recent-search-item col-group">
            <p class="txt">
                cnc
            </p>
            <i class="del-btn"></i>
        </div>
        <div class="recent-search-item col-group">
            <p class="txt">
                선반
            </p>
            <i class="del-btn"></i>
        </div>
        <div class="recent-search-item col-group">
            <p class="txt">
                밀링
            </p>
            <i class="del-btn"></i>
        </div>
    </div>

    <div class="null-txt">
        최근 검색어가 없습니다.
    </div>


</div>
