.policy .m-policy.type01 .m-policy-description {
    padding:25px;
    white-space: pre-line;
    background-color:#eee;
    border-radius:5px;
    line-height:24px;

}
.policy .company-box .company-intro{
    padding: 100px 0 50px 0;
}
.policy .company-box .company-intro h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #000;
}
.policy .company-box .container{
    max-width: 1230px;
}

@media(max-width:768px){
    .policy .m-policy.type01 .m-policy-description{
        font-size: 13px;
    }
    .policy .company-box .company-intro h2 {
        font-size: 25px;

    }
}